

.navbar {
  overflow: hidden;
  background-color:rgba(23,46,84,0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:2;

}

.navbar a {
  float: left;
  display: block;
  color: #f2eded;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
 
}

.navbar a:hover {
  background: #f2eded;
  color: white;
}


.icon-bar {
  width: 100%;
  background-color: rgba(23,46,84,0.5);
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 9px 0px;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #f2eded;
  color:white;
}

.footer_text
{
	
	font-size: 10px;
	letter-spacing: 0.8px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-top: 5px;
	
}