@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
  background-image: url("https://3.bp.blogspot.com/-3-Z0-gJKBfA/XAEfTBxxfmI/AAAAAAAAB0Q/GLq249U1ToE09m-U2b4RtenoWWFQhBtqwCHMYCw/s1600/space-stars-planets-space-galaxy-colors-universe-nature-pictures.jpg");
 /* background-repeat: no-repeat; */
  background-size: auto;
}

.row-full{
	width:100vw;
  height:50px; 
  position:absolute;
  top:0;
  left:0;  
  display:block;
  background-color:white;
	
}
.logo
{
	/* margin-right: -100vw; */
	left:100px;;
	width: 800px;
	/* padding-left: 70px; */
}

.fix_logo
{
padding-left: 10px;
padding-top: 10px;
}

.welcome {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #fff;
  font-size: 2rem;
  text-shadow: 3px 3px 5px #0ac7ca;
   padding-top: 15%;	
 padding-bottom: 0 !important;   
}
.welcome_text
{
	text-align: center;
  font-family: "Pacifico", cursive;
  color: #fff;
  font-size: 2rem;
  text-shadow: 3px 3px 5px #0ac7ca;
}
#astronaut > img {
  padding-top: 20%;
  display: block;
  left: 40%;
  animation: anim 20s linear infinite;
  position: absolute;
}

#astronaut2 > img {
  padding-top: 15%;
  display: block;
  left: 0%;
  position: absolute;
  animation: anim2 20s linear infinite;
  animation-delay: 1s;
}

@keyframes anim {
  0% {
    transform: translateY(0px);
  }
  10%{
    transform: translateY(30px) rotate(10deg);
  }
  20%{
    transform: translateY(60px) rotate(20deg);
  }
   30%{
    transform: translateY(90px) rotate(30deg);
  }
   40%{
    transform: translateY(120px) rotate(20deg);
  }
  50% {
    transform: translateY(150px) rotate(30deg);
  }
  60%{
    transform: translateY(120px) rotate(40deg);
  }
  70%{
    transform: translateY(90px) rotate(10deg);
  }
  80%{
    transform: translateY(60px) rotate(20deg);
  }
  90%{
    transform: translateY(30px) rotate(10deg);
  }
   100% {
    transform: translateY(0px);
  }
}

@keyframes anim2 {
  0% {
    transform: translateY(0px);
  }
  10%{
    transform: translateY(-30px) rotate(-10deg);
  }
  20%{
    transform: translateY(-60px) rotate(-20deg);
  }
   30%{
    transform: translateY(-90px) rotate(-10deg);
  }
   40%{
    transform: translateY(-120px) rotate(0deg);
  }
  50% {
    transform: translateY(-150px) rotate(-10deg);
  }
  60%{
    transform: translateY(-120px) rotate(0deg);
  }
  70%{
    transform: translateY(-90px) rotate(20deg);
  }
  80%{
    transform: translateY(-60px) rotate(10deg);
  }
  90%{
    transform: translateY(-30px) rotate(0deg);
  }
   100% {
    transform: translateY(0px);
  }
}
/* Button */
.intro-cta-list
{
	position:relative;
	z-index:2;
	margin-top:90%;
	margin-bottom:40px;
}

.intro-cta-wrapper
{
	margin-bottom:10px;
}
@media only screen and (min-width: 40.063em)
{
	.intro-bg
	{
		display:block;
		top:51%;
		margin-top:-80.5px
	}
	.intro-cta
	{
		background:url('/assets/img/home/wrap-pipe.png') no-repeat center top;background-size:100%;
		display:block;
		height:218px;
		padding-top:70px;
		-webkit-transform:translateY(32px);
		transform:translateY(32px);
		-webkit-transition:-webkit-transform 0.3s cubic-bezier(0.625, 0, 0.4, 1);
		transition:-webkit-transform 0.3s cubic-bezier(0.625, 0, 0.4, 1);transition:transform 0.3s cubic-bezier(0.625, 0, 0.4, 1);
		transition:transform 0.3s cubic-bezier(0.625, 0, 0.4, 1), -webkit-transform 0.3s cubic-bezier(0.625, 0, 0.4, 1);-webkit-transition:-webkit-transform 0.3s cubic-bezier(0.625, 0, 0.4, 1.52);transition:-webkit-transform 0.3s cubic-bezier(0.625, 0, 0.4, 1.52);transition:transform 0.3s cubic-bezier(0.625, 0, 0.4, 1.52);transition:transform 0.3s cubic-bezier(0.625, 0, 0.4, 1.52), -webkit-transform 0.3s cubic-bezier(0.625, 0, 0.4, 1.52);
		width:100%
	}
	.intro-cta:hover
	{
		-webkit-transform:translateY(7px);
		transform:translateY(7px)
	}
	.intro-cta-list
	{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		margin-top:-270px;
		margin-bottom:0;
		position:relative;
		z-index:2
	}
	.intro-cta-list
	{
		margin-top:-270px;
		max-width:580px;
		margin-left:auto;
		margin-right:auto
	}
	.intro-cta-wrapper{
		-webkit-box-flex:1;
		-ms-flex:1 1 33.33%;
		flex:1 1 33.33%;
		margin-bottom:0;
		max-width:33.33%;
		padding:0 6px;
		width:33.33%
	}
}
